* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.card__poster {
  width: 300px;
}

.card__grad-rage {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 30px;
  min-height: 20px;
  padding: 4px;
  background-color: rgb(59, 179, 58);
  color: rgb(255, 255, 255);
}
.card__grad-nurnberg {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 30px;
  min-height: 20px;
  padding: 4px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.card__tickets {
  position: absolute;
  bottom: 10px;
  right: 9px;
  width: fit-content;
  color: rgb(246, 242, 242);
  background-color: rgb(255, 86, 0);
  padding: 4px;
}
